body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/swbg.jpg");
  color:white;
}
.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 50px;
  position: absolute;
  left:900px;
  top:30px;

}

.my-image{
  height: 75px;
  width: 100px;
}

.my-char-div{
  background-color: aliceblue;
  border: 1px black solid;
  padding: 2px;
  margin: 2px;
  text-align: center;
  width:150px;
  color:black;
}

.my-enemy-div{
  background-color: red;
  border: 1px black solid;
  padding: 2px;
  text-align: center;
  width:150px;
  color:black;
}

.my-def-div{
  background-color: black;
  border: 1px red solid;
  padding: 2px;
  text-align: center;
  width:150px;
  color: white;
}

.my-button{
  color:red;
}